

.leftContents
  .leftContents__leftHeader
    %h3 ryosukemaehira
    .leftContents__leftHeader--headerLists
      %ul
        %li.memo
          =link_to root_path do
            %i.fas.fa-edit
        %li.setting
          =link_to root_path do
            %i.fas.fa-cog

  .leftContents__groups
    = render partial: "groups", locals: { groupName: "神" , groupMessage: "まだメッセージはありません。" }
    = render partial: "groups", locals: { groupName: "aaaaaaaa" , groupMessage: "まだメッセージはありません。" }
    = render partial: "groups", locals: { groupName: "sampleグループ" , groupMessage: "まだメッセージはありません。" }

.rightContents
  .rightContents__rightHeader
    = link_to("Edit", '#', class: "Edit")

    %h3.headerName Sampleグループ
    %p.headerMember Member: ryosukemaehira
  .rightContents__messages
    = render partial: "comments", locals: { messageName: "ryosukemaehira" , messageDate: "2016/10/12 06:27:07", messageText: "なるほど" }
    = render partial: "comments", locals: { messageName: "ryosukemaehira" , messageDate: "2016/10/12 06:27:25", messageText: "command Enterで送信したい感ある" }
    = render partial: "comments", locals: { messageName: "ryosukemaehira" , messageDate: "2016/10/12 06:27:30", messageText: "お腹すいた" }
  .rightContents__form
    %input{:name => "title", :size => "40", :value => "type a message"}
    .rightContents__form--uploadImages
      =link_to root_path do
        %i.fas.fa-image
    %input{:type => "submit", :value => "send"}



